{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 bg-light p-4">
            <h1 class="text-center mb-4">Flight Search</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-lg mt-6 btn-block">Search</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
   <script src="{% static './js/flight_search.js' %}"></script>
{% endblock %}
